<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Ventes -->
    <menuitem 
        id="is_affaire_menu" 
        sequence="900" 
        name="Affaires"
        action="is_affaire_action" 
        parent="sale.sale_order_menu" 
    />

    <!-- Ventes / Configuration / Clients -->
    <menuitem 
        id="is_config_client_menu" 
        sequence="900" 
        name="Clients"
        parent="sale.menu_sale_config" 
    />
    <menuitem 
        id="is_statut_menu" 
        sequence="10" 
        name="Statut"
        action="is_statut_action" 
        parent="is_config_client_menu" 
    />
    <menuitem 
        id="is_profil_menu" 
        sequence="20" 
        name="Profil"
        action="is_profil_action" 
        parent="is_config_client_menu" 
    />
    <menuitem 
        id="is_origine_menu" 
        sequence="30" 
        name="Origine DP"
        action="is_origine_action" 
        parent="is_config_client_menu" 
    />

    <!-- Ventes / Configuration / Articles -->
   <menuitem 
        id="is_config_article_menu" 
        sequence="910" 
        name="Articles"
        parent="sale.menu_sale_config" 
    />
    <menuitem 
        id="is_famille_menu" 
        sequence="10" 
        name="Famille article"
        action="is_famille_action" 
        parent="is_config_article_menu" 
    />
    <menuitem 
        id="is_sous_famille_menu" 
        sequence="20" 
        name="Sous-famille article"
        action="is_sous_famille_action" 
        parent="is_config_article_menu" 
    />

    <!-- Ventes / Configuration / Affaires -->
    <menuitem 
        id="is_config_affaire_menu" 
        sequence="920" 
        name="Affaires"
        parent="sale.menu_sale_config" 
    />
    <menuitem 
        id="is_nature_travaux_menu" 
        sequence="10" 
        name="Nature des travaux"
        action="is_nature_travaux_action" 
        parent="is_config_affaire_menu" 
    />
    <menuitem 
        id="is_type_travaux_menu" 
        sequence="20" 
        name="Type des travaux"
        action="is_type_travaux_action" 
        parent="is_config_affaire_menu" 
    />
    <menuitem 
        id="is_specificite_menu" 
        sequence="30" 
        name="Spécificités"
        action="is_specificite_action" 
        parent="is_config_affaire_menu" 
    />


    <!-- Achats / Commandes -->
    <menuitem 
        id="is_purchase_affaire_menu" 
        sequence="900" 
        name="Affaires"
        action="is_affaire_action" 
        parent="purchase.menu_procurement_management" 
    />

    <!-- Achats / Configuration -->
    <menuitem 
        id="is_famille_purchase_menu" 
        sequence="900" 
        name="Famille article"
        action="is_famille_action" 
        parent="purchase.menu_product_in_config_purchase" 
    />
    <menuitem 
        id="is_sous_famille_purchase_menu" 
        sequence="910" 
        name="Sous-famille article"
        action="is_sous_famille_action" 
        parent="purchase.menu_product_in_config_purchase" 
    />
    <menuitem 
        id="is_config_demande_de_prix_menu" 
        sequence="920" 
        name="Demande de prix"
        parent="purchase.menu_purchase_config" 
    />
    <menuitem 
        id="is_mois_trimestre_menu" 
        sequence="10" 
        name="Mois / Trimestre"
        action="is_mois_trimestre_action" 
        parent="is_config_demande_de_prix_menu" 
    />
    <menuitem 
        id="is_config_ligne_commande_achat_menu" 
        sequence="930" 
        name="Lignes de commandes"
        parent="purchase.menu_purchase_config" 
    />
    <menuitem 
        id="is_finition_menu" 
        sequence="10" 
        name="Finitions"
        action="is_finition_action" 
        parent="is_config_ligne_commande_achat_menu" 
    />
    <menuitem 
        id="is_traitement_menu" 
        sequence="20" 
        name="Traitements"
        action="is_traitement_action" 
        parent="is_config_ligne_commande_achat_menu" 
    />


    <!-- Déplacement des menus inutiles -->
    <menuitem id="mail.menu_root_discuss"     parent="base.menu_custom" sequence="900"/>
    <menuitem id="utm.menu_link_tracker_root" parent="base.menu_custom" sequence="901"/>
</odoo>