.planning_chantier{
    // color:red;
    margin:5pt;
}

.planning_chantier .btn{
    margin-right:5pt;
    margin-top:5pt;
    margin-bottom:5pt;
}

.planning_chantier table{
    border-top: 1px solid gray;
}

.planning_chantier th,.planning_chantier td {
    border: 1px solid gray;
    // border-top: 1px solid gray;
    // border-top: 1px solid gray;
    // border-top: 1px solid gray;
}

.planning_chantier .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.planning_chantier h2{
    margin-top:10pt;
}

.planning_chantier table {
    height: 85vh;
    border-collapse: collapse;
    width: 98%;
    display: block;
    overflow-y: scroll;
}
  
.planning_chantier thead {
    position: sticky;
    top: 0;
    background: #eee;
}

.planning_chantier td {
    border: 1px solid gray;
    padding-left:5pt;
    padding-right:2pt;
}

.planning_chantier th {
    border: 1px solid gray;
    padding-left:5pt;
    padding-right:2pt;
}

